body {
  font-size: 18px;
  line-height: 34px;
  font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  margin-left: 0px;
}

*{
  box-sizing:border-box;
}
/*general*/


/*header*/

.logo {
  height: 60px;
  width: 60px;
}

ul a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    padding-top: 20px;
    line-height: 18px;
    float: left;
}

ul a:first-child {
  border-left: 0 none;
}


.home{
  height: 300px;
}

/*main*/

.caption {
  float: right;
  float:left;
  margin-bottom: 25px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  float:left;
}


/*sidebar*/

.social {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  line-height: 22px;
}

#connect {
  height: 150px;
}

/*portfolio*/

.folio {
  height: 150px;
  width: 200px;
  padding: 10px;
  float: left;
}

/*contact*/
#contact-form ul {
  margin-bottom: 20px;
  text-decoration: none;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input [type=text],
input [type=email],
textarea{
  display: block;
  width: 100%;
}

input [type=text],
input [type=email],
textarea{
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}

textarea {
  height: 200px;
}

input [type=submit] {
  background: #4aaaa5;
  border: 0 none;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
}

/*footer*/

footer {
  background: #666;
  color: #fff;
  padding: 30px 0;
  clear: both;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}